a, a:hover
{
	text-decoration: none;
	color: #212529;
}

.nav-down button:hover a
{
	color: #FFFFFF;
}

.bg-dark {
    background-color: #2D2D2E!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,.75);
}

.navbar
{
/*	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.75);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.75);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.75);*/
}
.navbar a
{
	color: #FFFFFF;
}
a.navbar-brand 
{
	font-weight: bold;
}
ul.navbar-nav li
{
	margin: 0 10px;
}

#t_reg
{
	border-color: #FFFFFF;
	border-width: 2px;
}
#t_reg:hover, #t_reg:focus 
{
	background-color:#2D2D2E;
	border-color: #FFFFFF; 
	color: #FFFFFF;
}

#t_log
{
	background-color: #94D3D4;
	color: #2D2D2E;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 253 246 / 13%);
}

.slider {
	height: 450px;
	padding: 0px;
	background: #E5E5E5;
	width: auto;
}
.img-fluid
{
	display: inline-block;
	/*position: absolute;
	bottom: 50px;*/
	max-height: 100%;
	display: block;
	margin: 0 auto;
}
.nav-down
{
	border-bottom: 2px solid #000000;
}

.nav-down .btn-check:focus+.btn, .btn:focus
{
	box-shadow: none;
}

.nav-down .btn:hover
{
		background-color: #2D2D2E;
		color: #FFFFFF;
}


.nav-down .btn
{
	border-radius: 0;
	padding: 0;
	border: none;
}

.background
{
	background-image: url(pic/pattern1.png);
}

.content
{
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.28);
-moz-box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.28);
box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.28);
padding: 2rem;
}

.content p
{
	text-align: center;
}

.t_title {
	text-align:center;
}

.item-m
{
  width:50px;
}

.nav-left-row 
{
	margin: 10px 0px;
	align-items: center
}

.nav-left-row div
{
	padding: 0px;
}

.nav-left-row a
{
	padding-left: 3rem;
	height: 100%;
	text-align: center;
	color: #2D2D2E;
}

.nav-left-row .nav-link
{
	padding: 0;
	padding-left: 2rem;
}

#title_m
{
	text-align: center;
}

#point
{
	height: 40px;
	width:auto;
}

#center-i
{
	margin: 0;
}

#col-left
{
	height: auto;
}

.b_r
{
	border-right: 1px solid #bec9c1;
}

.no_pad
{
	padding: 0;
}

.point-filter
{
	border-top: 2px solid #d1d1d1;
}

@media (min-width: 992px) {
#t_log, #t_reg
{
	padding-right: 1rem !important;
    padding-left: 1rem !important;
}
}

@media (max-width: 992px) {

#Tomas
{
	position: relative;
	left: -25%;
}

.nav-left-row 
{
	flex-direction: column;
}

#item-m
{
	display:block;
    margin:auto;
}

#center-i
{
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}

a.nav-link
{
	padding-left: 0rem !important	;
}
}

@media (max-width: 768px) {
#Tomas
{
	position: relative;
	left: -15%;
}
}

@media (max-width: 710px) {
#col-left
{
	padding-right: 0;
	padding-left: 0;
}
}

@media (max-width: 1192px) {
	.table_int
	{
		font-size: 13px;
	}
}
	
@media (max-width: 1052px) {
	.table_int
	{
		font-size: 10px;
	}
}


